@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
// @use '../base/fonts' as *;


footer {
    padding: 20px 0;
    color: $paragraph-color;
    font-family: "helvetica-neue-lt-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  

   .footer__benefits {
        padding: 20px 0;
        background-color: #504E4A;
        color: #fff;
     
    .container {
        display: flex;
        flex-direction: column;

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;

    li {
        list-style-type: none;
        display: flex;
        // align-items: center;
        gap: 10px;
        width: 20%;
        font-size: 15px;

        &::before {
            content: '';
            display: inline-block;
            width: 80px;
            height: 80px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:nth-child(1)::before {
            background-image: url('../img/icons/benefit-1.svg');
        }

        &:nth-child(2)::before {
            background-image: url('../img/icons/benefit-2.svg');
        }

        &:nth-child(3)::before {
            background-image: url('../img/icons/benefit-3.svg');
        }

        &:nth-child(4)::before {
            background-image: url('../img/icons/benefit-4.svg');
        }
    }

        
    }

   } 

   }

   .footer__contacts {
    padding: 20px 0;
    font-size: 15px;


    .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    ul{
        padding: 0;
    }

        .about {
            grid-column: 1 / 2;
        }

        .links {
            grid-column: 2 / 3;
        }   

        .achievements {
            grid-column: 3 / 4;
        }

        .shipping {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }

        .contact-us {
            grid-column: 5 / 7;
        
        }

        li {
            list-style-type: none;
            margin-bottom: 5px;
            &:first-child {
                margin-bottom: 15px;
            }
        }

        .contacts {
            padding: 0;
            grid-column: 5 / 7;
            grid-row: 2 / 3;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

           li{
            display: flex;
            align-items: center;
            &::before { 
                content: ''; 
                display: inline-block; 
                width: 20px; 
                height: 20px; 
                background-size: contain; 
                background-repeat: no-repeat;
                margin-right: 10px;
            } 
            &:nth-child(1)::before { 
                background-image: url('../img/icons/phone.svg'); 
            }
            &:nth-child(2)::before { 
                background-image: url('../img/icons/mail.svg'); 
            } 
            &:nth-child(3)::before { 
                background-image: url('../img/icons/clock.svg'); 
            } 
            &:nth-child(4)::before { 
                background-image: url('../img/icons/map-pin.svg'); 
            }
        }
        }

           
            

        .contacts__heading {
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

}

.footer__copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: $hr-color;


}

@media (max-width: 1024px) {

 

    .footer__benefits .container {
        align-items: center;
        
    }
    .footer__contacts {

         .container {
       
        display: grid;
        grid-template-columns: repeat(3, 1fr);


        .about {
            grid-column: 1 / 2;
        }

        .links {
            grid-column: 2 / 3;
        }   

        .achievements {
            grid-column: 3 / 4;
        }

        .shipping {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }

        .contact-us {
            grid-column: 1 / 4;
            grid-row: 3 / 4;
        
        }


        .contacts {
        
            grid-column: 1 / 4;
            grid-row: 4 / 5;
            grid-template-columns: repeat(4, 1fr);

            li {
                flex-direction: column;
                justify-content: flex-start;
            }

            li::before {
                margin-bottom: 10px;
            }


    }
         }
   
}

}


}
