<footer class="footer">
    <div class="footer__benefits">
       <div class="container">
         <h3>Our Benefits</h3>
        <ul>
            <li>Velit nisl sodales eget donec quis. volutpat orci.</li>
            <li>Dolor eu varius. Morbi fermentum velit nisl.</li>
            <li>Malesuada fames ac ante ipsum primis in faucibus. </li>
            <li>Nisl sodales eget donec quis. volutpat orci. </li>
        </ul>
       </div>
    </div>
    <div class="footer__contacts">
       <div class="container">
   
            <ul class="about">
                <li class="contacts__heading"><a href="/src/html/about.html">About Us</a></li>
                <li>Organisation</li>
                <li>Partners</li>
                <li>Clients</li>
            </ul>
    
       
            <ul class="links">
                <li class="contacts__heading">Interesting Links</li>
                <li>Photo Gallery</li>
                <li>Our Team</li>
                <li>Socials</li>
            </ul>
        
       
            <ul class="achievements">
                <li class="contacts__heading">Achievements</li>
                <li>Winning Awards</li>
                <li>Press</li>
                <li>Our Amazing Clients</li>
            </ul>
        
            <ul class="shipping">
                <li class="contacts__heading">Shipping Information</li>
                <li>
                    Nulla eleifend pulvinar purus, molestie euismod odio imperdiet ac. Ut sit amet erat nec nibh 
                    rhoncus varius in non lorem. Donec interdum, lectus in convallis pulvinar, enim elit porta sapien, 
                    vel finibus erat felis sed neque. Etiam aliquet neque sagittis erat tincidunt aliquam. 
                </li>

            </ul>
       
            <ul class="contact-us">
                <li class="contacts__heading"><a href="/src/html/contact.html">Contact Us</a></li>
                <li>
                    Bendum dolor eu varius. Morbi fermentum velitsodales 
                    egetonec. volutpat orci. Sed ipsum felis, tristique
                    egestas et, convallis ac velitn consequat nec luctus.
                </li>
            </ul>
       
            <ul class="contacts">
                <li>Phone: (+63) 236 6322 </li>
                <li>Mon - Fri: 10am - 6pm <br>
                    Sat - Sun: 10am - 6pm
                </li>
                <li>public@news.com</li>
                <li>639 Jade Valley, <br>
                    Washington Dc
                </li>
            </ul>
        
       </div>
    </div>
    <div class="footer__copyright">© Copyright 2025</div>
</footer>