@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

@use './base/reset';
@use './base/fonts';

@use './components/buttons';
@use './components/forms';
@use './components/product-card';

@use './layouts/header';
@use './layouts/footer';

@use './pages/about';
@use './pages/cart';
@use './pages/catalog';
@use './pages/product-details';

.container {
    max-width: 1200px;
    margin: 0 auto;
}

* {
         font: {
            family: Montserrat, sans-serif;
        }
}