@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;
@use './components/buttons' as *;

@use './base/reset';
@use './base/fonts';

@use './components/buttons';
@use './components/forms';

@use './layouts/header';
@use './layouts/footer';
@use './layouts/modal';

@use './pages/homepage';
@use './pages/about';
@use './pages/catalog';
@use './pages/contact.scss';
@use './pages/cart';
@use './pages/product-details';

.container {
    max-width: 1200px;
    margin: 0 auto;
}

* {
         box-sizing: border-box;
         font: {
            family: Montserrat, sans-serif;
              
        }
}

@media (max-width: 1024px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}